<html>
<head>
  <title>Dice Roll</title>
</head>

<body>
<h1>100d6</h1>
<ul>
  <% counter = 0 %>
  <% while counter<=100 - 1 %>
    <li>
      <%=@rolls.at(counter) %>
    </li>
    <% counter = counter + 1 %>
  <% end %>
</ul>
<p><%= @outcome %></p>
</body>
</html>
